@import "tailwindcss";

:root {
  --font-dm-sans: "DM Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-dm-sans);
  background-color: white;
}

@layer utilities {
  .shadow-bottom {
    @apply shadow-[0px_4px_0px_#00000020];
  }

  .shadow-bottom-right {
    @apply shadow-[4px_4px_0px_#00000020];
  }

  .hover-shadow-bottom {
    @apply hover:shadow-[0px_4px_0px_#00000020];
  }

  .hover-shadow-bottom-right {
    @apply hover:shadow-[4px_4px_0px_#00000020];
  }
}